@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Oswald:wght@200..700&display=swap");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");


body {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0px;
  margin-top: 40px;
  text-align: center;
  }


h1, h2, h3,h4 {
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  }


p{
	color: #783E36;
	text-align: left;
}

.banner .container {
  text-align: center;
}


a {
 text-decoration: none;
 }

